@import url('./fonts/stylesheet.css');
body {
  font-family: 'SF Pro Display', 'Noto Sans Thai UI', 'system-ui', 'Thonburi',
    'Tahoma', 'sans-serif';
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background-color: #99b8ff !important;
  border: 1px double #99b8ff !important;
}

.CalendarDay__selected_span {
  background: #99b8ff !important;
  border: 1px double #99b8ff !important;
  color: #fff !important;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: #004eff !important;
  border: 1px double #99b8ff !important;
  color: #fff !important;
}

.DayPickerKeyboardShortcuts_show__bottomRight {
  border-top: 26px solid transparent;
  border-right: 33px solid #004eff !important;
  bottom: 0;
  right: 0;
}

.ant-tooltip-inner {
  background-color: #000f33 !important;
  border-radius: 0px !important;
  padding: 6px 10px !important;
  font-family: 'SF Pro Text', system-ui, Thonburi, Tahoma, sans-serif !important;
  font-weight: normal !important;
}

.ant-card-head {
  border-bottom: none !important;
  padding: 0;
  min-height: 0;
}

.ant-card-head-title {
  padding: 0;
  font-family: 'SF Pro Text', system-ui, Thonburi, Tahoma, sans-serif !important;
  letter-spacing: -0.4px;
  font-size: 15px;
  font-weight: bold;
}

.ant-card-body {
  padding: 15px;
}

.ant-breadcrumb > span:last-child {
  color: #004eff;
  font-weight: bold !important;
}

.ant-progress-bg {
  background: #004eff;
}

.ant-progress-status-exception .ant-progress-bg {
  background: #ff0d5e;
}

.ant-progress-status-exception .ant-progress-bg {
  background: #ff0d5e;
}

.ant-progress-status-success .ant-progress-bg {
  background: #00bfbf;
}

.ant-progress-status-exception .ant-progress-text {
  color: #ff0d5e;
}

.ant-progress-status-success .ant-progress-text {
  color: #00bfbf;
}

.ant-progress-text .anticon {
  font-size: 28px;
}

.ant-slider:hover .ant-slider-track {
  background-color: #0045e6;
}

.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: #0045e6;
}
